@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-serif;
    @apply bg-bg-yellow;
    @apply text-font-brown;
}

.sliders {
    @apply bg-editor-box;
    @apply p-2;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
